[2018-12-28 19:34] yakutovicha opened #41 "Add a possibility to pip install the app dependencies"
It would be desired to allow pip install dependencies.

Use [repo2docker](https://repo2docker.readthedocs.io/en/latest/config_files.html) as an example.

[2019-04-13 22:16] yakutovicha opened #7 "Are we approaching dependency hell?"
While doing aiidalab maintenance I discovered a very frustrating thing that potentially can lead to a considerable amount of problems in the future.

In our dependency stack we have aiida-vasp plugin. Aiida-vasp, in turn, depends on pymatgen that failed to build.

The frustrating thing is: I am not developer/maintainer of any of those packages, but I have to ["manually" fix](https://github.com/aii

[2019-04-13 22:30] ltalirz commented on #7
@yakutovicha Part of the problem, namely the one of creating reproducible builds, is solved by a tool called [pipenv](https://github.com/pypa/pipenv).

The basic idea is: instead of a requirements.txt file with fixed dependencies (which, in the end are still not perfectly fixed because of dependencies of dependencies), you create a `Pipenv` file, where you specify the dependency ranges you are int

[2019-04-14 01:13] ltalirz commented on #7
I started working on this in the [pipenv branch](https://github.com/aiidalab/aiidalab-metapkg/tree/pipenv). Here I'm using pipenv simply to generate a complete `requirements.txt` from the `Pipfile` (instructions added to `README`).

It turns out that, miraculously, all dependency conflicts can be resolved (e.g. `pymatgen` automatically gets resolved to 2018.12.12).

There is [one issue with aiida-

[2019-04-15 07:04] yakutovicha commented on #7
I think pipenv is a great tool. Thanks for looking into that.

Also, I think we should use it while testing aiida plugins. For example it would be nice to create an automated script that installs aiida with all the latest versions of plugins to check incompatibility.

Of course for the moment it is just a wish, nothing concrete. But I think the issue should be solved ASAP, otherwise some users sim

[2019-04-15 07:44] ltalirz commented on #7
Jens just updated aiida-fleur - all packages are now available again (PR #8 updated & ready for review)

[2019-04-15 08:01] ltalirz commented on #7
We should define what exactly we want to test here.
As you mention, with `pip` the result might depend on the order of installation.

We could start with a more basic check using pipenv and integrate it into the CI of the aiida plugin registry. I.e. for every new pull request. pipenv would try to concretize the dependencies for installing all plugins together (all that provide a `pip` package name

[2019-04-25 18:04] ltalirz commented on #7
the original issue seems resolved.
discussion about testing continues in https://github.com/aiidateam/aiida-registry/issues/67

[2019-04-25 18:04] #7 closed

[2019-04-25 18:23] ltalirz opened #10 "aiida plugins compatible with aiida-core 1.0.0b2"
This is a list of plugins that are compatible with `aiida-core` 1.0.0b2 and can therefore be included in the `develop` branch of the AiiDA lab

 - [x] aiida-diff: release v1.0.0a1
 - [x] aiida-zeopp: release v1.0.0a2
 - [x] aiida-qeq: release v1.0.0a1
 - [ ] aiida-quantum_espresso: in progress in branch [migrate_aiida1.0](https://github.com/aiidateam/aiida-quantumespresso/tree/migrate_aiida1.0)

@

[2019-04-26 05:18] espenfl commented on #10
aiida-vasp: in progress in branch [migrate_beta](https://github.com/aiida-vasp/aiida-vasp/tree/migration_beta)

[2019-04-26 12:20] yakutovicha commented on #10
aiida-raspa: I did not migrate it yet. Put it in my priority list.

[2019-04-26 16:48] zhubonan commented on #10
aiida-castep: in progress in branch [aiida_1.0_compatible](https://gitlab.com/bz1/aiida-castep/tree/aiida_1.0_compatible/). The core functionality is working as tests are passing (pinned to b2). I still need to migrate the methods to help setup calculations though.

[2019-05-01 17:42] abelcarreras commented on #10
aiida-lammps working in v1.0.0b1 in master branch, currently testing v1.0.0b2

[2019-05-10 13:22] ltalirz commented on #10
just a reminder that the aiida workshop will take place May 21st-24th.

plugins in high demand are aiida-quantumespresso and aiida-vasp (not listed here) + interest in aiida-wannier90, aiida-yambo,, aiida-raspa/zeo++ and aiida- siesta
![plugins-interest](https://user-images.githubusercontent.com/1053245/57530368-5f40f980-7337-11e9-8032-a52e348849bf.png)

If you manage to make a tag (possibly with

[2019-05-11 06:40] Tseplyaev commented on #10
aiida-fleur is working with 1.0.0b1, develop branch

[2019-05-14 16:26] mikibonacci commented on #10
yambo-aiida is working in branch dev_aiida1.x. Workflows not migrated yet

[2019-05-15 10:22] yakutovicha opened #28 "Home App design"
The aim of the issue is to bring together the design decisions and open questions related to the aiidalab-home app. Once they are discussed and agreed - they will go into the [this wiki page](https://github.com/aiidalab/aiidalab-home/wiki/Intro) to be the main reference point.

**Key components of the home app**
* Home page
* App Store
* Linux terminal
* File manager
* Task manager
* App home page

[2019-05-15 11:17] yakutovicha opened #42 "`AppBase`: force app deletion"
For the moment the `AppBase` class does not allow to delete an app if it has any modifications. Sometimes it creates problems, since the Jupyter can change the notebook's version. Therefore, one should allow for force-deletion of apps (maybe also showing the changes).

[2019-05-15 20:42] ltalirz commented on #10
fyi - aiida-core 1.0.0b3 has just been released.
All changes and bug fixes with respect to 1.0.0b2 are documented in the [changelog](https://github.com/aiidateam/aiida_core/blob/v1.0.0b3/CHANGELOG.md#v100b3)

[2019-05-20 09:28] vdikan commented on #10
aiida-siesta works with 1.0.0b3, experimentally together with base workflow in workflow-migration branch

[2019-05-20 09:37] sphuber commented on #10
Update for `aiida-quantumespresso`: the `develop` branch and tag `v3.0.0a3` are now mostly compatible with `aiida-core==1.0.0b3`

[2019-05-20 10:59] ltalirz commented on #10
Thanks to everybody for your updates.
If you decide to make an alpha/beta tag of your plugin to have a reference version for the tutorial, let me know.

[2019-05-25 23:53] ltalirz commented on #10
P.S. And when you make your next release on PyPI, don't forget to include the [`Framework :: AiiDA` classifier](https://github.com/aiidateam/aiida-diff/blob/master/setup.json#L13)

[2019-06-17 14:49] abelcarreras commented on #10
aiida-lammps now compatible with v1.0.0b3 in master branch thanks to Chris Sewell.

[2019-06-18 11:33] zhubonan commented on #10
`aiida-castep` is now compatible with `aiida-core` v1.0.0b3 with new release [1.0.0b1](https://gitlab.com/bz1/aiida-castep/tree/1.0.0b1) at [aiida_1.0_compatible](https://gitlab.com/bz1/aiida-castep/tree/aiida_1.0_compatible) branch.

[2019-07-15 15:52] ltalirz opened #11 "add badge using microbadger"
https://microbadger.com/

looks very useful, see e.g. https://pypi.org/project/sslyze/

[2019-07-18 15:25] chrisjsewell commented on #10
`aiida-crystal17` is now compatible with `aiida-core v1.0.0b5`:

[code]

[2019-07-19 08:29] chrisjsewell commented on #10
FYI `aiida-crystal17` is also available now on [conda-forge](https://anaconda.org/conda-forge/aiida-crystal17):

[code]

I would encourage others to add their plugins as well

[2019-07-19 08:43] ltalirz commented on #10
very cool, Chris - thanks!
By the way, @pzarabadip is interested in writing docs for setting up aiida-core without superuser privileges and I pointed him to your [`activate-aiida` package](https://github.com/chrisjsewell/activate_aiida) package that works with conda out of the box. Perhaps we should sit together at some point and think a bit about how we can standardize this a bit and make it as e

[2019-07-19 09:00] chrisjsewell commented on #10
@ltalirz yeh no problem, I guess we can chat about it on Slack. Btw, on your initial comment, it should be `aiida-crystal17` not `aiida-crystal`

[2019-08-29 18:47] ltalirz opened #14 "add python3 build"
@yakutovicha

just to mention what the [`develop-py3`](https://github.com/aiidalab/aiidalab-metapkg/commit/cf3b68ab3441ec4c53f376bdae5889e90a6c4224) branch was about:

When you run pipenv on python3, you will get different dependencies (e.g. lots of the dependencies you get for python2.7 are backports of python3 functionality).

When I created the develop-py3 branch, the Pipfile approach was broke

[2019-08-29 19:12] yakutovicha commented on #14
The python2 support is kind of dropped already for aiida-1 compatible aiidalab, so I think it is not really needed to move dependencies to the `requirements3.txt` file.

there is still some "hand work" involved, but it is describedin the updated `README.txt`. The main difference is that I separated packages with clashing dependencies into `dev-packages` and `packages`. See [the readme](https://git

[2019-08-29 21:00] ltalirz commented on #14
Hm... I thought the dependencies **are** computed for python 2.7, no?
https://github.com/aiidalab/aiidalab-metapkg/blob/e7bd3c3b7085145c4b62347c43f4d7cf9b8590c6/Pipfile#L40-L41

Thanks, that looks very sensible.

[2019-08-29 22:31] yakutovicha commented on #14
and tested for python 3.7...
https://github.com/aiidalab/aiidalab-metapkg/blob/e7bd3c3b7085145c4b62347c43f4d7cf9b8590c6/.travis.yml#L3

I overlooked this, thanks for pointing it out. For the next release I will change python version to 3.7.

[2019-08-29 22:33] ltalirz commented on #14
I wonder whether this is the right thing to do...
Apparently now we are in a stage, where the dependencies are computed for 2.7 and work both in 2.7 (hopefully?) and in 3.7.
This is essentially what we want.

I'll add a 2.7 build for travis just to be sure.

[2019-08-29 22:35] yakutovicha commented on #14
I think this will fail, but you can try. Please do it in a separate branch

[2019-08-29 22:39] ltalirz commented on #14
Indeed - ASE dropped python2 support:
https://travis-ci.org/aiidalab/aiidalab-metapkg/jobs/578577540#L246

So, are we no longer supporting python2.7 for AiiDA lab?
... I guess I'm ok with this.

[2019-08-29 22:40] ltalirz commented on #14
and we already mention it
https://github.com/aiidalab/aiidalab-metapkg/blob/e7bd3c3b7085145c4b62347c43f4d7cf9b8590c6/setup.json#L11

[2019-08-29 22:40] #14 closed

[2019-08-29 22:41] ltalirz opened #16 "replace python2.7 by python3.7 in pipfile"
here
https://github.com/aiidalab/aiidalab-metapkg/blob/e7bd3c3b7085145c4b62347c43f4d7cf9b8590c6/Pipfile#L41

[2019-08-29 22:42] yakutovicha commented on #14
We decided not to support python 2 for aiida-docker-stack/base for 1.0, so should we do for the aiidulab-docker-stack if we want to base it on them.

It does not make much sense indeed since we are typically working inside the docker containers.

[2019-09-22 10:44] yakutovicha commented on #16
fixed in 07ff515ffd6fcd4c2c361018b198ecca492a0f78

[2019-09-22 10:44] #16 closed

[2019-09-26 20:02] sphuber commented on #10
`aiida-codtools==2.0.0b1` is now fully migrated

[2019-09-27 13:20] greschd commented on #10
``aiida-bands-inspect==0.2.0b1`` migrated

[2019-09-30 12:41] ltalirz commented on #10
Fyi - I've created 'plugin-developers' team under the aiidateam github organization and invited all of you. Going forward, we can use @aiidateam/plugin-developers to notify plugin developers on github (and I'll be closing this issue after aiida-core 1.0 is released).

Some more updates:
 * the aiida-registry now tries to install and import all plugins (with state `development` and `stable`) under

[2019-09-30 12:54] zhubonan commented on #10
Thanks. I wonder what is the best practice to synchronize release with the `aiida-core`. For example, I have a working version of my plugin (1.0.0b1 ) that is compatible and pre-released to PyPI. Should I just release a new (non pre-release) version with dependency `aiida-core>=1.0` right after the core becomes avaliable?

[2019-10-02 09:43] ltalirz commented on #10
After discussing with @giovannipizzi , @sphuber I would suggest the following:

 1. stable release of the plugin: either wait for aiida-core 1.0 release or do it already now
 1. suggested way to depend on aiida-core: `aiida-core>=1.0.0,<2.0.0` (or `aiida-core>=1.0.0b6,<2.0.0`)

Point 1.  may seem a bit unorthodox but you can have a look at the [project for the 1.0 release](https://github.com/aiida

[2019-10-15 10:37] greschd commented on #10
``aiida-optimize==0.2.0`` migrated

[2019-10-18 16:36] greschd commented on #10
``aiida-tbmodels==0.2.0`` migrated

[2019-10-31 10:13] ltalirz commented on #10
Thanks to everyone for making great progress - also welcome to newcomers @Tseplyaev @pzarabadip @blokhin @dev-zero @unkcpz @JPchico !

Today, almost all plugins from the list above have releases compatible with aiida-core 1.0.0b2 & later; last holdouts are `aiida-siesta` @albgar @bosonie , `aiida-vasp` @espenfl and `aiida-yambo` @mikibonacci

I'll be closing this issue now - going forward, please

[2020-02-06 09:52] yakutovicha opened #31 "Add more 'global' variables to `config.py`"
For example, we can add `AIIDALAB_DEFAULT_GIT_BRANCH` to specify which default branch should be used when installing an app. Also, it might be useful to have `AIIDALAB_DEFAULT_APPS` to provide a list of apps to be installed by default.

[2020-02-06 09:57] yakutovicha commented on #31
This would be useful to distinguish which apps are installed on the production `aiidalab` server or on the development one.

[2020-02-23 13:21] yakutovicha opened #43 "App Store: add a field to type the app name to easily find it."
This is just another way to simplify the search of an in the App Store.

[2020-02-24 16:37] #31 closed

[2020-03-09 15:38] csadorf commented on #41
@yakutovicha Since I'm working on this, can you assign me this issue?

[2020-03-09 15:39] yakutovicha commented on #41
done!

[2020-04-21 13:23] yakutovicha commented on #42
fixed in #52

[2020-04-21 13:23] #42 closed

[2020-05-04 21:43] yakutovicha opened #57 "Watchdog: inotify watch limit reached"
From time to time I am getting the following error on AiiDA lab:

[code]

@csadorf any ideas?

[2020-05-05 09:21] csadorf commented on #57
@yakutovicha Can you describe the circumstances in a bit more detail? Does it happen after prolonged usage of AiiDA lab or in cases where you have a lot of notebooks/kernels running?

[2020-05-05 09:24] yakutovicha commented on #57
This happens after a container stays alive for a long time. I in purpose closed all the notebooks and the problem was still there. After I restarted the container - things went back to normal.

[2020-05-05 09:25] csadorf commented on #57
Ok, thank you, I'll look into it.

[2020-05-06 16:25] yakutovicha commented on #57
This is what helped me to fix the problem: https://unix.stackexchange.com/questions/13751/kernel-inotify-watch-limit-reached. Not sure, though, how persistent the fix is.

Also, to keep in mind that to fix that for the docker containers I had to do the changes on the host machine.

[2020-05-06 21:43] yakutovicha opened #58 "AiidaLabApp: failed to switch to the branch that is not present in the local repository."
If a new branch of an app appears on GitHub, the `AiidaLabApp` becomes aware of that. However, it is not able to switch to this new branch.

I assume this is because a preliminary `git fetch` operation is missing.

[2020-05-07 11:32] yakutovicha commented on #58
Some screenshots to demonstrate the issue:
1. A new branch appears on the Github, but cannot be installed
![Screenshot 2020-05-07 at 13 17 11](https://user-images.githubusercontent.com/13118485/81289368-9808d100-9066-11ea-856c-db8d49636649.png)

1. If I do `get fetch`
<img width="615" alt="Screenshot 2020-05-07 at 13 31 18" src="https://user-images.githubusercontent.com/13118485/81289679-1c5b5400-

[2020-05-07 11:33] yakutovicha commented on #58
Looks like it is only a matter of adding `git fetch` to the installation function

[2020-05-20 12:39] CasperWA opened #60 "Extend metadata.json with commit/branch/tag field"
It would be extremely useful for my OPTIMADE Client app to be able to direct the AiiDA lab app store to install a specific commit/branch/tag as the default, instead of my repository's default branch on GitHub.

I would imagine this to be a very useful feature for other applications as well, e.g., in order to more easily have the distinction of keeping GitHub for developers/developing and AiiDA lab

[2020-05-20 13:00] CasperWA commented on #60
Actually, I guess it would make most sense to put this information _not_ in the `metadata.json`, but rather in the `apps.json` from the [`aiidalab-registry`](https://github.com/aiidalab/aiidalab-registry).

[2020-05-20 13:59] CasperWA commented on #60
Mentioning @csadorf and @yakutovicha.

This change, or something equivalent, is a necessity for me before I can continue to move the [`aiidalab-optimade`](https://github.com/aiidalab/aiidalab-optimade) repository over to [`materialscloud-org`](https://github.com/materialscloud-org) as discussed with @giovannipizzi.

[2020-05-20 15:53] csadorf commented on #60
I'd prefer to use URIs to indicate the exact location and potential reference (branch) for this, see my comment on the related PR: https://github.com/aiidalab/aiidalab-registry/pull/43#pullrequestreview-415478785

[2020-05-21 06:49] yakutovicha opened #61 "when server with apps_meta.json is unavailable, home page doesn't start"
I got an error:

[code]

[2020-06-02 09:55] yakutovicha opened #62 "Remove appmode dependency"
Appmode is now installed in the root environment, and not needed here:

https://github.com/aiidalab/aiidalab/blob/e5f9a8ca7d3e010166cc7a4763efcb19a1fe2ed4/Pipfile#L35

[2020-06-03 01:03] yakutovicha commented on #62
fixed by #63

[2020-06-03 01:04] #62 closed

[2020-06-04 15:51] csadorf opened #65 "pip automatically installs into `/.local` directory"
# Observed behavior

Installing a Python package with `pip install <package>` installs the package into the `site.USER_SITE` path as if the `--user` argument was provided.

# Expected behavior

Installing a Python package with `pip install <package>` should install the package into the environment prefixed path.

# Additional notes

This might not actually a bug, but at least to me presents unexpe

[2020-06-16 14:49] yakutovicha opened #67 "Add readthedocs"
The readthedocs for this repository should be the main documentation for AiiDA lab.

[2020-06-16 14:56] yakutovicha opened #68 "Execute setup.py if present"
To allow installing dependencies we should run:
[code]
if `setup.py` is present in the app's folder.

[2020-06-16 14:58] yakutovicha commented on #60
The final design:

An app registry entry is defined via a URL that references a git repository that contains an app. The URL must be of the form: <base_url>[@<ref>], where <base_url> must be a URL that points to a valid git repository and <ref> within the optional second part of the URL must be a [git-reference](https://git-scm.com/book/en/v2/Git-Internals-Git-References) that is valid for the ref

[2020-06-16 15:36] yakutovicha opened #69 "Separate python environment for every app."
To allow AiiDA lab apps to coexist one should install them in separate python environments.

[2020-06-16 15:44] yakutovicha opened #70 "App managing interface."
- [ ] Add a possibility to install an app via the URL.

- [x] Add a checkbox in GUI to install prereleases.

- [x] Add a button to reset the changes.

[2020-06-16 15:45] yakutovicha commented on #69
To connect to the correct environment one should use the following URL:
[code]

[2020-06-16 15:57] yakutovicha opened #71 "Remove requirements.txt file"
Once AiiDA lab app's dependencies are properly managed, this file is no longer needed.

[2020-06-16 16:57] ltalirz commented on #69
Have you guys done a test on
 - how this affects disk size (e.g. installing all currently registered apps)
 - how this affects installation time for apps?

[2020-06-16 16:57] ltalirz commented on #69
I'm also wondering how these different environments are going to access the AiiDA installation running in a different environment.

[2020-06-16 17:29] yakutovicha commented on #69
The idea is to add the path to the base conda environment to the PYTHONPATH of every app-specific environment so that AiiDA and related packages will be shared.

[2020-06-16 20:55] ltalirz commented on #69
How does this work for installing packages?
I guess, you will also need a way to inform `pip` and `conda` in the app environment of the packages installed in that base environment you are sharing; otherwise any app that depends on AiiDA in some way (could be indirectly via some plugin) will install its own aiida version.

Would be good if there were some examples of other projects doing this, so t

[2020-07-04 20:48] chrisjsewell opened #75 "Dependency version clash"
Running `pip check` after installation you get:

[code]

As confirmed by:

https://github.com/aiidalab/aiidalab/blob/37f581eb9aa95120630dc012d317caa57c00bce3/requirements.txt#L4
https://github.com/aiidalab/aiidalab/blob/37f581eb9aa95120630dc012d317caa57c00bce3/requirements.txt#L30

[2020-07-06 07:35] yakutovicha commented on #75
Yep, `aiida-castep` clashes with the other plugins, so I had to move it to the `[dev]` section of the Pipfile:
https://github.com/aiidalab/aiidalab/blob/37f581eb9aa95120630dc012d317caa57c00bce3/Pipfile#L9

The only way to avoid the clash is to delete the plugin from the dependencies.

[2020-07-06 10:38] chrisjsewell commented on #75
thanks @yakutovicha, pinging @zhubonan (that aiida-castep owner) about this issue

[2020-07-06 10:41] yakutovicha commented on #75
that is another way ;)

[2020-07-06 10:49] chrisjsewell commented on #75
Ah ok so, the quantum mobile install doesn't use the Pipfile: https://github.com/marvel-nccr/ansible-role-aiidalab/blob/453f60635090e1e9017657e284cd83bacff37581/tasks/prerequisites.yml#L39-L45.
I've never used a Pipfile before: what's the command to install with a Pipfile? @ltalirz any thoughts how to integrate this in to the ansible role, I don;t know off-hand

[2020-07-06 10:52] yakutovicha commented on #75
We use `pipenv` to pin the version of all the required packages dependencies. Here is how we do it: https://github.com/aiidalab/aiidalab#updating-requirements

[2020-07-06 10:52] chrisjsewell commented on #75
or can we quickly comment out aiida-bigdft and aiida-castep from the requirments.txt for now and make another release?

[2020-07-06 10:55] chrisjsewell commented on #75
yep that looks too complicated lol, can we quickly comment them out from the requirements.txt for now?

[2020-07-06 10:59] yakutovicha commented on #75
Well, this won't change anything, right? Only to silence the pip warning.

But in case you really want me to take these packages out, I can do that.

[2020-07-06 11:02] chrisjsewell commented on #75
yes please, your right not commented out, actually deleted, so that they are not read in by: https://github.com/aiidalab/aiidalab/blob/37f581eb9aa95120630dc012d317caa57c00bce3/setup.py#L12-L13, and included in the `install_requires`

[2020-07-06 11:39] #75 closed

[2020-07-29 13:59] yakutovicha commented on #60
I believe the issue is fixed in #80. I am going to close it.

[2020-07-29 14:00] #60 closed

[2020-07-29 14:49] yakutovicha opened #86 "Install button is always active for the `aiidalab-qe` app."
After the app is installed the `Installed version` appears as unknown, while it is clearly the latest commint on the latest branch.

<img width="1141" alt="Screenshot 2020-07-29 at 16 47 42" src="https://user-images.githubusercontent.com/13118485/88815203-5b5afa80-d1bb-11ea-8c0d-07503046f756.png">

Pressing the `Install` button doesn't change anything.

[2020-07-29 14:55] yakutovicha opened #87 "Changing installed version results in "Unable to determine availability of updates" warning."
Even if I come back to the initially installed version, the warning remains.
<img width="1007" alt="Screenshot 2020-07-29 at 16 54 47" src="https://user-images.githubusercontent.com/13118485/88816029-416de780-d1bc-11ea-84bc-6146bf9d6a96.png">

[2020-07-29 15:40] #57 closed

[2020-07-30 13:37] #41 closed

[2020-07-30 13:47] csadorf commented on #86
I've removed the submodules on aiidalab-qe@master, so that will probably resolve the issue. I've tried to make dulwich properly parse the git submodule status, but that turns out to be a non-trivial undertaking that is probably not worth our time.

[2020-07-31 16:33] yakutovicha opened #93 "After each execution aiidalab command leaves apps_meta.sqlite file"
Anytime I run:
[code]
It leaves `apps_meta.sqlite` file in the current folder.

[2020-08-04 09:52] yakutovicha commented on #69
Another important issue we came across when testing #82 is the necessity to keep aiida and aiida plugins in the same environment. The problem is the following: when aiida is installed in the base environment it cannot see the plugins installed in the sub-environments. This makes the whole point of isolating app's dependencies unachievable.

[2020-08-04 20:57] ltalirz commented on #69
I'm a bit puzzled how we managed to miss this glaring issue when we all looked at the proposal together.
The main problem is with the AiiDA daemon. Anything that doesn't require the daemon (even running calculations using `engine.run`) could in principle be executed from within the respective virtual environment, but the daemon in general needs access to all virtual environments simultaneously.

I

[2020-08-05 04:59] csadorf commented on #69
I agree with @ltalirz , let's have another good look at this.

One solution might be that everything aiida related (core+plugins) must be installed into the base environment and that only more lightweight dependencies like the widgets etc. are installed into the virtual environments.

[2020-08-24 09:48] yakutovicha commented on #67
fixed by #109

[2020-08-24 09:48] #67 closed

[2020-09-03 13:20] yakutovicha commented on #86
fixed in #114

[2020-09-03 13:20] #86 closed

[2020-09-03 13:21] yakutovicha commented on #87
closed in #114

[2020-09-03 13:21] #87 closed

[2020-09-17 10:36] CasperWA opened #123 "Update python requirements for ipython"
https://github.com/aiidalab/aiidalab/blob/6dcc3cc263291146be059bca587d4fca9b21b634/requirements.txt#L90

This Python requirement should be changed to "3.7", since this is the minimum requirement for this version of ´ipython` (see also [here](https://pypi.org/project/ipython/7.18.1/)).

I found this issue when trying to install the latest version of `aiidalab` in a Python 3.6 environment, which now

[2020-10-05 14:08] yakutovicha opened #126 "Enable the deprecation warnings in Jupyter notebooks."
Showing the deprecation warnings by default was disabled with the release of Python 2.7 and 3.2. See the [changelog](https://docs.python.org/3.7/whatsnew/2.7.html#changes-to-the-handling-of-deprecation-warnings) for the motivation of this change and [here](https://bugs.python.org/issue7319) for a discussion of this topic.

However, in aiidalab with the appmode enabled the warnings are not visible

[2020-10-12 08:23] csadorf opened #131 "pytest installation is broken"
As of ` 20.10.0b0` the installation of `pytest` is broken. Trying to execute `pytest` (even without *any* arguments) leads to the following traceback:
[code]

[2020-10-12 21:42] yakutovicha commented on #131
Adress when the https://github.com/CasperWA/voila-optimade-client/issues/183 issue is fixed.

[2020-10-14 18:12] #131 closed

[2020-11-02 14:09] yakutovicha commented on #71
Fixed by #138

[2020-11-02 14:09] #71 closed

[2020-11-02 14:13] yakutovicha commented on #58
with the new developments, this issue is outdated now.

[2020-11-02 14:13] #58 closed

[2020-12-02 08:56] chrisjsewell opened #144 "Is pip actually an installation requirement?"
I'm not sure of the rationale for having it in the `install_requires`?

[2021-01-14 16:08] yakutovicha opened #145 "App update is not working."
I realised that apps update on the AiiDalab is broken.

I just released a new version of the aiidalab-empa-nanoribbons app (`1.1.2`). The update was successfully detected by the app:

<img width="797" alt="Screenshot 2021-01-14 at 17 02 33" src="https://user-images.githubusercontent.com/13118485/104616362-7d253c80-568a-11eb-9ac8-a461e783df4f.png">

When I clicked on the update button I got the fol

[2021-01-14 16:48] csadorf commented on #145
Thx for reporting, will fix!

[2021-01-26 10:25] yakutovicha commented on #28
I think we can close this. The things have changed quite a bit and this issue appears to be outdated.

[2021-01-26 10:25] #28 closed

[2021-02-04 16:17] csadorf commented on #145
Resolved by https://github.com/aiidalab/aiidalab-home/pull/55 .

[2021-02-04 16:17] #145 closed

[2021-03-19 15:23] yakutovicha opened #151 "Deploy AiiDAlab: Quantum Mobile"
Add information on how to obtain/start using AiiDAlab@Quantum Mobile.

[2021-03-19 15:27] yakutovicha opened #152 "Use AiiDAlab: Using App Store"
Add information on how to use App Store for installing, updating, uninstalling applications.

[2021-03-19 15:31] yakutovicha opened #153 "AiiDAlab Applications: Intro"
Some short introduction about what is an AiiDAlab app.

AiiDAlab application is...

It consists of...

It is tightly bound with git...

etc.

[2021-03-19 15:36] yakutovicha opened #154 "AiiDAlab applications: How to develop an app."
A how-to guide that guides through the steps of building a small but functional application.

Maybe something like a QE band structure app would be a good example.

[2021-03-19 15:38] yakutovicha opened #155 "AiiDAlab Applications: useful resources"
Useful tools that can help you in building a powerful AiiDAlab application:

- AiiDAlab base widgets
- AiiDA plugins
- Ipywidgets
- Traitlets
...

[2021-03-19 15:46] yakutovicha opened #156 "Develop AiiDAlab: AiiDAlab package"
AiiDAlab package: responsibilities & core features.

[2021-03-19 15:49] yakutovicha opened #157 "Develop AiiDAlab: AiiDAlab Home app"
Responsibilities, core features and peculiarities of this app (can't be uninstalled, always on top of the home page).

[2021-03-19 15:50] yakutovicha opened #158 "Develop AiiDAlab: Docker Stack"
Everything one needs to know about the AiiDAlab docker container: based on AiiDA-core, can be run on Kubernetes cluster and locally, etc.

[2021-03-19 15:51] yakutovicha opened #159 "Develop AiiDAlab: AiiDAlab App Registry"
App registry and all one needs to know about it.

[2021-03-22 08:22] CasperWA commented on #157
I think this should have a bit lower priority for now with respect ot the other documentation issues.

[2021-03-22 08:25] yakutovicha commented on #156
For information: this is where one can take information from: https://github.com/aiidalab/aiidalab/wiki#infrastructure

[2021-03-22 16:06] CasperWA opened #163 "AiiDAlab apps: Example app for QE bands workflow"
Write an example app to showcase the utilization of AiiDA and QE as an app in AiiDAlab.

The "scaffolding" for this is/has been added in #161.

[2021-03-22 16:32] CasperWA opened #164 "AiiDAlab apps: My first app"
An extremely simplistic example of how an app may be set up after having created an app with either the cookiecutter or the manual way.

The "scaffolding" for this is/has been added in #161.

[2021-03-22 20:20] dou-du commented on #155
#165

[2021-03-23 12:38] #154 closed

[2021-03-24 22:07] #156 closed

[2021-03-24 22:07] #157 closed

[2021-03-25 10:07] chrisjsewell opened #167 "ReadTheDocs CI not triggering"
In #162 I turned on https://docs.readthedocs.io/en/latest/pull-requests.html (see https://readthedocs.org/dashboard/aiidalab/advanced/), but it does not seem to be triggering in e.g. #166
This should trigger like, for example, in https://github.com/aiidateam/plumpy/pull/216:

<img width="835" alt="image" src="https://user-images.githubusercontent.com/2997570/112450268-839ff680-8d54-11eb-9e98-affc9

[2021-03-25 10:20] csadorf commented on #167
@chrisjsewell I just escalated your privileges so you should have access to the configuration.

I checked the webhooks configuration myself and everything seems to be in order and the web hook as also been triggered. However, I don't have access to the RTD settings, maybe you or @yakutovicha could add me as maintainer there?

[2021-03-25 10:22] yakutovicha commented on #167
Just added.

[2021-03-25 10:47] csadorf commented on #167
I can't find any issue since it's really only a simple checkbox. So no idea why this isn't working.

[2021-03-25 11:23] chrisjsewell commented on #167
Just added Pull Requests to the webhook, which should do it hopefully:

![image](https://user-images.githubusercontent.com/2997570/112465230-c79af780-8d64-11eb-8504-7c10d3d33b10.png)

[2021-03-25 11:43] chrisjsewell commented on #167
So from #168 its now triggering, but having the same issue as I've had for quantum-mobile.

From https://docs.readthedocs.io/en/stable/pull-requests.html#troubleshooting, I think this should be present in https://github.com/organizations/aiidalab/settings/oauth_application_policy:

![image](https://user-images.githubusercontent.com/2997570/112467508-6aed0c00-8d67-11eb-8fa3-ae6f6309aeb9.png)

As, f

[2021-03-25 11:46] yakutovicha commented on #167
Removed - resynced - added you back

[2021-03-25 11:52] chrisjsewell commented on #167
Grr still don't see it in https://github.com/organizations/aiidalab/settings/oauth_application_policy
Somehow it needs to magically get added there

[2021-03-25 14:32] chrisjsewell commented on #167
sorted 👍

[2021-03-25 14:32] #167 closed

[2021-04-01 16:48] #155 closed

[2021-04-12 09:10] csadorf opened #169 "The 'check-manifest' pre-commit hook is very slow"
Running this pre-commit hook sometimes takes more than two minutes (see log below) – significantly slowing down my development workflow – and its benefit is not entirely clear to me. @chrisjsewell Since you originally introduced this hook, could you briefly comment what we use it for in this project and whether we could maybe limit it to run when only certain files are changed, such as `setup.cfg`

[2021-04-12 21:24] chrisjsewell commented on #169
https://github.com/mgedmin/check-manifest/issues/141

[2021-04-13 08:48] csadorf commented on #169
As a temporary remedy, I've set the `$SKIP` environment variable in my dev environment: `export SKIP=check-manifest`

[2021-04-13 13:51] chrisjsewell commented on #169
@csadorf, I would just try adding as it suggests:

[code]

[2021-05-11 07:08] #144 closed

[2021-05-12 08:52] csadorf commented on #169
The pre-commit check now runs reasonably fast in my development environments. This appears to have been resolved upstream.

[2021-05-12 08:52] #169 closed

[2021-05-18 17:41] yakutovicha opened #179 "Docs: how to build aiidalab on top of existing AiiDA installation."

[2021-06-02 07:45] csadorf commented on #69
There are currently no immediate plans to implement this model.

[2021-06-02 07:45] #69 closed

[2021-06-05 01:40] mbercx opened #186 "`StructureViewer`: Add option to see conventional unit cell."
Most DFT calculations are done in the primitive cell. Unfortunately this cell often is not very insightful. Would be great if we could add an option to see the conventional unit cell as well. Similarly, would be great if the user could also download this conventional cell.

[2021-07-22 10:56] yakutovicha commented on #61
should be fixed by #175

[2021-07-22 10:56] #61 closed

[2021-07-22 11:00] yakutovicha commented on #123
Since we no longer use the `requirements.txt` file, the issue can be closed.

[2021-07-22 11:00] #123 closed

[2021-07-22 22:25] yakutovicha opened #196 "Enable requests caching only for a subset of URLs"
Now requests caching is enabled globally, this is quite bad because any import of aiidalab package might result in a strange behaviour of other tools that rely on `requests` package.

Unfortunately, I do not see a way to enable the caching only for specific URLs.

**UPD**:
Using [`requests_cache.CachedSession`](https://requests-cache.readthedocs.io/en/stable/user_guide.html#sessions) is the way to

[2021-08-04 16:18] yakutovicha commented on #65
I think I know the answer to this: it seems to be the feature of pip. If the environment prefixed path is inaccessible, then pip switches to the user installation:
<img width="962" alt="Screenshot 2021-08-04 at 18 16 19" src="https://user-images.githubusercontent.com/13118485/128217078-7a7e67ee-e13e-4654-9cb8-9328e1cced1c.png">

So I think the behaviour is normal and the issue can be closed. Pingi

[2021-08-05 12:39] csadorf commented on #65
Indeed, I think this message was not shown (or I just overlooked it) when I first created the issue.

[2021-08-05 12:39] #65 closed

[2021-08-16 04:03] JWCook commented on #196
Hi there, I came across this while searching for potential requests-cache bugs.

There are a couple things you can do:
* Use [`requests_cache.CachedSession`](https://requests-cache.readthedocs.io/en/stable/user_guide.html#sessions) instead of `requests_cache.install_cache`, and then use a normal `requests.Session` or `requests.get` for requests that you don't want to cache
    * In general that's

[2021-09-09 15:14] csadorf commented on #163
Duplicate of #164 .

[2021-09-09 15:14] #163 closed

[2021-09-09 16:03] csadorf commented on #164
Relevant links for this issue:
- https://github.com/aiidalab/aiidalab-app-cutter
- https://github.com/aiidalab/aiidalab-widgets-base/blob/develop/wizard_apps.ipynb
- https://github.com/aiidalab/aiidalab-hello-world
- https://github.com/aiidalab/aiidalab-home/wiki/Make-your-own-app

[2021-09-09 16:04] csadorf commented on #179
To clarify, this means to simply install aiidalab into an existing (Python / Jupyter) environment and run it without needing to run any of the docker containers.

[2021-09-09 20:37] ltalirz opened #201 "Use local metadata file to better support non-registered apps"
thanks to Dave Wecker for raising this

[2021-09-09 20:39] ltalirz commented on #201
@csadorf can you point me to where this should be fixed? this looks quite straightforward

[2021-09-09 22:01] ltalirz opened #202 "docs top-level organisation"
This is just recording a first impression of the docs page:

Starting with "deployment" felt a bit strange to me - I would have expected "how to use" first.
On reading through the docs I think I understood the thought process behind the layout a bit better (this follows the standard pattern for a python package: install, how to use, how to develop)... however, many users of the AiiDA lab will actu

[2021-09-09 22:11] ltalirz opened #203 "one-line description of AiiDAlab"
The AiiDAlab is currently described in the docs as

I propose to try and make this sentence as bit more concrete ("users with diverse expertise" isn't clear to me; and "AiiDAlab apps" is self-referencing).

The paper describes it as

I like this already a lot better. I think it captures the purpose of the AiiDAlab quite precisely, and I propose we use it in the docs as well.

To me, jupyter is a c

[2021-09-10 07:00] ltalirz commented on #164
This will be incorporated into https://aiidalab.readthedocs.io/en/latest/app_development/create.html

Relevant links for this issue:

 - [ ] https://github.com/aiidalab/aiidalab-app-cutter
 - [ ] https://github.com/aiidalab/aiidalab-widgets-base/blob/develop/wizard_apps.ipynb
 - [ ] https://github.com/aiidalab/aiidalab-hello-world
 - [x] https://github.com/aiidalab/aiidalab-home/wiki/Make-your-own

[2021-09-10 07:39] csadorf commented on #201
@ltalirz You would probably want to start here: https://github.com/aiidalab/aiidalab/blob/77fed765c6b2b9b7b1311905415100b1dabac2e1/aiidalab/app.py#L85-L88

One thing to look out for is how to handle releases in that case, because they **must** be come from the registry. So in that case we would simply have no releases available. That's fine, but just something to look out and test for.

[2021-09-10 07:40] csadorf commented on #201
@ltalirz Furthermore, app metadata is defined through the registry, similar to how PyPI stores metadata about a package. So simply sourcing it from the repository breaks a lot of assumptions. So I would like to caution a little bit about considering this _straightforward_.

[2021-09-10 07:56] csadorf commented on #203
I think the second paragraph you quoted described it quite well. We could probably workshop it a bit more, but it's certainly much better than the first one.

[2021-09-10 08:02] csadorf commented on #164
I believe that we might some small changes after originally creating it with the cookiecutter. Maybe just create a new app with the CC and then run a diff against the hello-world app?

[2021-09-10 21:31] #203 closed

[2021-09-11 16:47] csadorf commented on #201
As an additional comment on this issue. In the latest revision of the registry, we removed the assumption that an app must have a "metadata.json" file, instead the metadata could be directly declared as part of the registry entry. That may have been a bit short-sighted, but one motivation was to generalize the registry concept and also allow for the registration of codes that may not necessarily h

[2021-09-13 13:06] ltalirz commented on #164
This is now fixed in the [`develop` branch of the docs](https://aiidalab.readthedocs.io/en/develop/app_development/index.html) (which should become the `latest` one as well).

The linked aiidalab-widgets-docs are not yet up to date because the docs are failing to build, but otherwise all of the points have been addressed. Closing.

[2021-09-13 13:06] #164 closed

[2021-09-13 13:08] ltalirz commented on #153
fixed in https://aiidalab.readthedocs.io/en/develop/app_development/create.html

[2021-09-13 13:08] #153 closed

[2021-09-14 08:26] ltalirz commented on #202
One possibility would be to organise the docs by the target readership

1. Users
2. App developers
3. Server administrators
4. AiiDAlab developers

[2021-09-14 14:57] ltalirz commented on #159
the maintainer docs now explain how to point to a different registry.

I guess one can still move a couple of things from the README of the aiidalab-registry repo to the developer docs

[2021-09-14 16:38] ltalirz commented on #202
fixed in e0c9ca18475e882b63fb9ad089b0e96c6adaf7bd

[2021-09-14 16:38] #202 closed

[2021-09-14 16:43] ltalirz commented on #179
@ramirezfranciscof @mbercx Could you perhaps share your specific use case where use of the AiiDAlab container would be inconvenient?

The thing is: I don't think we have the manpower to make the AiiDAlab work in arbitrary environments.
Besides some core python packages like `aiidalab` and `aiidalab-widgets-base`, the AiiDAlab docker stack installs quite a range of auxiliary software, much of which

[2021-09-14 16:45] ltalirz commented on #70
@yakutovicha not sure but perhaps some of these items were done/decided not to be done?

[2021-09-14 16:47] ltalirz commented on #68
@yakutovicha perhaps this can also be closed now?

[2021-09-14 16:52] ltalirz commented on #93
this is no longer the case

![image](https://user-images.githubusercontent.com/1053245/133300413-6a253fca-84fe-4630-8096-d19cdc1e598e.png)

[2021-09-14 16:52] #93 closed

[2021-09-14 18:13] yakutovicha commented on #68
yes.

[2021-09-14 18:13] #68 closed

[2021-09-14 20:27] yakutovicha commented on #70
Thanks for the reminder. Indeed, most of the requested changes are already taken care of. I slightly modified the description, to better describe the required functionality.

I think the only remaining thing is to add something like `aiidalab install <URL>`. I believe @csadorf is working on it.

[2021-09-15 07:51] csadorf opened #213 "Support installation from PEP 508 compliant URL"
Extend the aiidalab installation API to support the installation of AiiDAlab apps directly for a PEP 508 compliant URL, e.g.

[code]
etc.

This is related to #201 .

[2021-09-15 07:52] csadorf commented on #70
@yakutovicha , yes and I am working on it in the context of #201 . However, I have created #213 to keep track of this more explicitly and recommend that we remove that sub-task here and close.

[2021-09-15 08:11] #70 closed

[2021-09-15 08:35] ramirezfranciscof commented on #179
Hey @ltalirz ! Yes, so in principle my idea was to leverage the aiidalab platform graphical interface existing tools to develop some tools for general AiiDA management (so, make easier the launch of workflows, controlling the runs, etc). Thus for this I need to launch AiiDAlab in a way that it gets access to an existing AiiDA profile instance that is already installed in the system. It could also

[2021-09-15 13:49] #151 closed

[2021-09-17 13:55] yakutovicha opened #218 "Add linter to fix the docsting format."
@csadorf suggested that http://www.pydocstyle.org/en/stable/ is probably a good tool for that.

[2021-09-17 14:09] yakutovicha opened #219 "Presence of both: app title and app name is a bit confusing."
Currently, we have app name and app title concepts.

App name is one word that is used to name the folder where the app is installed.  Also, under this name the app is registered in the aiidalab registry.

The title is a human-readable title that is only used to provide information for the users.

After some considerations, I would advocate for removing the "title" and making it a part of the desc

[2021-09-17 14:12] yakutovicha opened #220 "Avoid overriding packages installed in the system environment."
Currently, even if packages are installed in the base environment, they can be superseded by the ones installed in the `.local` folder. I think that better practice would be to forbid installing the core packages (`aiida-core`, `aiidalab`, `aiidalab-widgets-base`).

[2021-09-21 10:16] csadorf commented on #219
Agreed, this would be similar to how PyPI displays information about a package. There is only one package name that is used as a unique identifier, everything else (e.g. a nicer representation of the package name) would be considered part of the description.

[2021-09-22 14:56] csadorf opened #221 "Improve indication about whether an app is not registered or the registry server cannot be reached"
Currently the app widget has a `updates_available` trait that can be in three states:
 - None: unable to determine, i.e., the registry server cannot be reached
 - True: update is available
 - False: update is not available,  i.e., the app is up-to-date

The proposed solution would be to add a 4th state _"registry server is reachable, but app is not registered"_ to better handle this as part of the

[2021-09-22 14:58] #201 closed

[2021-09-22 14:58] #213 closed

[2021-09-23 07:04] #221 closed

[2021-09-23 08:28] csadorf commented on #220
I believe this issue can be resolved by utilizing a [global constraints file](https://pip.pypa.io/en/stable/user_guide/#constraints-files).

[2021-09-29 11:27] #159 closed

[2021-10-04 23:00] yakutovicha opened #236 "When updating the package "Include prereleases" checkbox value is not taken into account."
Currently, running an update always leads to the installation of the latest version, even if it is a pre-release.

[2021-10-06 15:09] #236 closed

[2021-10-13 06:14] kjappelbaum opened #239 "app icons do not show up"
first reported in https://github.com/aiidalab/aiidalab-eln/issues/29 and reproduced by @yakutovicha.

App icons do not show up anywhere

![image](https://user-images.githubusercontent.com/32935233/137077090-7c83a0cb-dfac-4ece-aaf9-daecd1c63c82.png)

[2021-10-14 14:13] #239 closed, assigned to yakutovicha

[2021-11-28 16:36] kjappelbaum opened #246 "[Feature Request]: "Classroom mode" - Allow teachers to admin simulations of students"
AiiDALab is now used in a few courses.
In many of those courses we had some issues in which we needed Sasha to check something in the students' containers, to play their simulations (e.g., due to network issues on the HPC side), or to simply make sure that everything goes as expected.

It would be quite convenient, if teachers could do this.

One could even imagine an admin panel in which teachers

[2021-12-21 17:47] ltalirz opened #248 "docs: hooking up your IDE for AiiDAlab app development"
The Jupyter environment is fine for tinkering around but when one wants to start developing an app from scratch, it can make a lot of sense to do that in the IDE of your choice.

One issue that many users will run into is that they can't edit the files in the `~/aiidalab` folder because it is owned by a different user (id `1000`).

In order to fix this, do:
[code]
Then, log out and log in again (t

[2021-12-21 17:48] ltalirz commented on #248
Pinging @unkcpz - you may have been doing something similar (?)

[2021-12-22 11:17] unkcpz commented on #248
@ltalirz Yes, and besides using `chmod` I used another command in the host machine to grant the permission to other UID. But I don't remember the command and it has other problem with using vscode or like in using the git.
I think for the aiidalab apps development, it is much easier to use the 'attach to container' feature of vscode and I have added this in the documentation already.

[2021-12-22 11:42] ltalirz commented on #248
I see, thanks! Somehow I missed this tip at the top of the docs page.

Two small follow-up questions:
- I guess by default you are `root` when you enter the container; did you add some further settings to enter as the AiiDA user?
- Do the server components have to be re-installed in the container whenever you start a new one (I guess they do?)

P.S. In case someone else is running the container re

[2021-12-22 12:19] unkcpz commented on #248
Sure, in order to install all extensions and use git seamless, I set the following configuration, here is how to code in vscode as aiida  user. First attach to container, then ctrl+shift+p to call 'open container configure file' and add "remoteUser": "aiida",  in the dict.

[code]

[2021-12-22 12:22] unkcpz commented on #248
With the configuration I mentioned above, maybe the components are go into the `home/aiida`?

[2021-12-22 15:31] ltalirz commented on #248
Yes, they do - thanks for sharing the config option.
With this configuration I agree that the remote container plugin is the most convenient option for VSCode.

It might be worth adding the instruction to add the `"remoteUser"` setting to the workspace configuration - quite impressive that it can go Windows => WSL => Remote machine => container.
And it may still be worth mentioning alternative app

[2021-12-22 15:31] #248 closed

[2022-01-28 12:12] yakutovicha opened #257 "`aiidalab registry build` fails when categories are specified in the setup.cfg"
here is an example of a categories specification that doesn't work:

[code]

The error is:

[code]

Also, this doesn't work:

[code]

the error is:

[code]

[2022-02-09 08:29] #152 closed

[2022-02-21 13:56] mbercx opened #262 "CLI: `aiidalab search` fails with `TypeError`"
When a search doesn't produce any results, the `aiidalab search` command fails with a `TypeError`:

[code]

This is with `aiidalab` v21.11.1 (inside latest `aiidalab-launch` container):

[code]

Note that it might also be preferable to have the `search` command:

* look for packages that contain the specified string by default instead of having to match it explicitly. I.e. `aiidalab search quantum

[2022-02-21 14:05] yakutovicha commented on #262
@csadorf can you please take care of this?

[2022-02-21 14:29] csadorf commented on #262
@mbercx  think that's slightly problematic, because as a user you can always add those wildcards, but you can then no longer remove them for (desired) exact matches. The current behavior was modeled after that of `conda search`.

As an alternative suggestion, maybe we add message the proposes to use wildcards when the result is empty?
[code]

Agreed, this has been bugging me for a while as well. T

[2022-02-21 14:46] mbercx commented on #262
I guess it depends on what you're used to. My suggested behaviour corresponds to `brew search`. ^^ I would argue that the  `brew search` behaviour is better for AiiDAlab, since we are unlikely to have that many packages anytime soon that the user is flooded with search results. Especially when we no longer show all versions by default. `apt search` even goes further and also looks in the descripti

[2022-02-21 15:22] csadorf opened #266 "CLI: search should match non-exactly"
As suggested by @mbercx the `aiidalab search` function is currently matching only exact app names by default which is likely too restrictive. As a possible improvement, we could

- [ ] match search terms with wildcards, e.g., `foo` would match as `*foo*` with the current behavior.
- [ ] Use "fuzzy" matches, e.g., [via the Levenshtein Distance](https://github.com/seatgeek/thefuzz)
- [ ] Not only se

[2022-02-21 15:25] csadorf opened #267 "CLI: search should only one version for each app"
The current search function shows all versions released for a given app. This yields a rather overwhelming result when trying to search for a specific app. Instead – _[as suggested by](https://github.com/aiidalab/aiidalab/issues/262)_ @mbercx -  the CLI tool should yield only one entry for each app (corresponding to the latest version) and only show all versions when instructed via a `-a / --all-v

[2022-02-21 15:49] mbercx commented on #266
Regarding the 3rd suggestion, `brew` has a `--desc` option for this. Not sure if we want to do this by default, but perhaps, considering the fact that we don't have that many apps yet. E.g. let's say we rename `quantum-espresso` to `qe`. I would still prefer that `aiidalab search espresso` would still return the `qe` app.

[2022-05-03 08:32] mbercx opened #277 "Error when opening server after startup"
I just tried starting a new AiiDAlab server:

[code]

But when opening the server, I get the following error:

[code]

My `aiidalab-launch` version is the latest, I believe:

[code]

Any ideas?

[2022-05-05 15:30] csadorf commented on #277
@mbercx I am not able to reproduce the issue. I assume that your environment is somehow messed up. Can you try to reset it?

[2022-05-05 15:31] csadorf opened #278 "Automatically identify broken environment"
As was described in #277 , it is possible to inadvertently break the AiiDAlab environment and lose access to the system. It would be good to automatically detect this state and initiate or at least suggest a reset to the user.

[2022-05-06 09:53] csadorf commented on #277
@mbercx I will close this for now, but please let us know in case that resetting the environment did not resolve the problem.

[2022-05-06 09:53] #277 closed

[2022-05-16 12:38] csadorf opened #280 "Create a pre-commit hook to automatically check an AiiDAlab app"
The pre-commit hook script should check whether the app is in a proper form to be [listed on the registry](https://aiidalab.readthedocs.io/en/latest/app_development/publish.html), including

- [ ]  all necessary files are present,
- [ ]  the metadata is present and adheres to the expected schema.

Inspired by the discussion on [this](https://github.com/aiidalab/aiidalab-qe/pull/232#issuecomment-11

[2022-06-21 08:27] csadorf opened #287 "Do not use reentry scan"
AiiDA 2.0 does not require to use reentry scan anymore.

[2022-06-21 08:46] csadorf commented on #287
This change should be merged into a `support-aiida-2.0` branch.

[2022-06-30 01:07] danielhollas opened #338 "Enable specification of conda dependencies for apps"
While I understand the new paragraph in README.md about the special volume that AiiDAlab launch creates for local conda environments, I am still unsure how to use it in practice.

To be concrete, in my case I need to install `xtb-python` as a dependency of my AiiDALab application. This package is not published on pip and must be installed via conda-forge channel.

So far I've been installing it as

[2022-07-04 10:13] csadorf opened #290 "Run postInstall script post installation"
As an app developer I want to be able to define additional steps to be run post the app dependency installation to further prepare the user environment to run my app.

Example: The QE app needs to ensure that the QE conda environment is created and that the SSSP pseudo potentials are installed.

This was already implemented in #98 , however never made it into a release branch.

[2022-07-05 12:49] yakutovicha opened #293 "Add an explicit check of the notebook kernel."
## User stories

As developers, we would like to guarantee that Jupyter notebooks (that are available within an app) can still work if the python kernel changes.

For example, recently we had to place the python kernel in a separate Conda environment (see https://github.com/aiidalab/aiidalab-docker-stack/pull/254). That requires an explicit selection of a new kernel. This should be taken care of b

[2022-07-05 13:35] CasperWA opened #294 "Lessons from creating App for MP"
This is a list of some lessons and issues we've found during development of an AiiDAlab App for a MarketPlace use case. "We" being mainly @daniel-sintef and partly myself.

#### Setup Computers and Codes

There used to be "Setup Computer" and "Setup Code" notebooks/apps in the aiidalab-widgets-base application, but they seem to have gone missing in the standard installation. This is an issue, beca

[2022-07-05 15:10] csadorf commented on #220
I realized that this would actually be much better achieved by adding the constraint to the global or user-wide [pip-configuration file](https://pip.pypa.io/en/stable/topics/configuration/#). I am therefore going to revert this change and introduce the fix on https://github.com/aiidalab/aiidalab-docker-stack .

[2022-07-06 08:41] csadorf opened #296 "The pip in-tree-build option was deprecated is now removed"
As a user I want to be able to install applications with the latest aiidalab version, however that is not possible because pip's in-tree-build option (previously deprecated) is now removed, blocking the installation.

Note: To my understanding, this is currently not yet affecting user's since the image is not yet installing the latest pip version, however it will affect them with the next release.

[2022-07-06 08:43] csadorf commented on #296
Pip's deprecation notice: https://pip.pypa.io/en/stable/news/#v21-3

[2022-07-06 12:25] #296 closed

[2022-07-28 14:14] yakutovicha commented on #293
@csadorf, should we close this issue since we agreed to have aiida in the base kernel?

[2022-07-28 15:34] csadorf commented on #293
Yes.

[2022-07-28 15:34] #293 closed

[2022-07-29 10:28] #287 closed

[2022-07-29 11:30] csadorf opened #304 "Create conda-forge recipe"
As a developer of the aiidalab-docker-stack image, I would like to be able to install aiidalab via conda into the base environment to avoid the need for mixed installation methods (conda and pip).

As a user I would like to be able to install aiidalab via conda to simplify the installation flow.

[2022-08-02 08:17] cpignedoli opened #307 "Can't install apps with the newest version of aiidalab (22.07.0)"
Recently, we update aiidalab to version 22.07.0, and after the update, some of our apps cannot be installed with the error message: "Failed to install dependencies". During the installation no dependencies were installed as they were all present.
![aiidalab-bug](https://user-images.githubusercontent.com/22955065/182326703-f6800777-0a68-4109-821b-1ce229459187.png)

Downgrading aiidalab to version 2

[2022-08-02 13:17] yakutovicha commented on #307
@csadorf would you be able to have a look?

[2022-08-04 07:44] csadorf commented on #307
Yes, I will check that.

[2022-08-05 13:41] csadorf commented on #307
Should be resolved in release https://github.com/aiidalab/aiidalab/releases/tag/v22.07.1 .

[2022-08-05 13:41] #307 closed

[2022-08-08 07:46] csadorf commented on #304
The aiidalab package is now available on conda-forge: https://github.com/conda-forge/aiidalab-feedstock/

[2022-08-08 07:46] #304 closed

[2022-10-19 06:43] unkcpz opened #318 "modify the is_compatible() function too look at the constraints instead of the current environment"
After migrating docker stack to support AiiDA 2.x, most apps in app store would incompatible since they are specifically set to dependent on aiida-core~=1.0. We need to disallow the user to install the old versions of these apps until they have aiida-core 2.0 supported.

The `is_compatible()` function will do this check,
https://github.com/aiidalab/aiidalab/blob/04f295b6eb8aee851a4eb3f538369dd441c

[2022-10-26 15:17] yakutovicha commented on #318
@unkcpz could you take care of that?

[2022-10-26 15:22] unkcpz commented on #318
Sure! Please assign it to me, I can not do it with my phone somehow.

On Wed, 26 Oct 2022 at 17:17, Aliaksandr Yakutovich <
***@***.***> wrote:

[2022-11-18 14:46] danielhollas opened #322 "App dependencies should be installed in user mode"
In the old Docker stack image, the conda environment in `/opt/conda` was not writeable by the `aiida` user.
As a side-effect of that, when the AiiDAlab app was installed via pip, its declared dependencies (and the app itself) was installed in the `home/aiida/.local` directory. Thus these dependencies persisted between different container invocation since they were stored in the home volume / direc

[2022-11-18 14:47] danielhollas commented on #322
I do not have sufficient privileges for this repo, but I think this should be an urgent issue, unless I have somehow misdiagnosed it.

[2022-11-18 15:34] unkcpz commented on #322
I think the initial design is the things installed with pip will go to the local conda folder at https://github.com/aiidalab/aiidalab-launch/blob/0c74626c0e0077e429b535f6df3b38704e8ab92e/aiidalab_launch/instance.py#L102-L106?
I didn't pay attention to the dependencies with QeApp, since it always has some dependencies issues to fix and I always run pip install before.

[2022-11-18 15:47] danielhollas commented on #322
I think the conda mount is a separate thing. I never really understood the use case, but in any case that's for when you're installing via conda.

The aiidalab apps and their dependencies are installed with pip and were always going to `/home/aiida/.local` afaik.

[2022-11-21 10:35] danielhollas commented on #322
@yakutovicha would you mind taking a look and comment on this issue. I think this is important to resolve.

[2022-11-21 12:00] unkcpz commented on #322
Hi @danielhollas, I think you are right, I just notice I had the same issue with QeApp, which already happened but I didn't pay attention and to check it.
Using the `--user` will install the packages to the local home folder which is mounted by `aiidalab-launch` automatically. We should also make sure this `/home/jovyan/.local` path for python packages is in the path and go before the `/opt/conda`

[2022-11-21 12:02] danielhollas commented on #322
Okay, thanks. Do you want to tackle this or should I work on it?

[2022-11-21 12:03] unkcpz commented on #322
Can you open a PR and I'll give it a test?

[2022-11-21 13:12] danielhollas commented on #322
Wil do, thanks.

Dne po 21. 11. 2022 12:03 odp. uživatel Jusong Yu ***@***.***>
napsal:

[2022-11-22 00:47] danielhollas commented on #322
While testing the fix in #323 locally, I've ran into an _interesting_ problem. My app was not loading at all! No errors thrown in the UI, no errors in the notebook. Only after looking the the JupyterServer logs and browser console I realized the error came from JS side.

Concretely, file `/static/nglview-js-widgets.js` could not be loaded. It looks like when the package `nglview` is installed into

[2022-11-22 10:11] danielhollas commented on #322
The jupyter notebook extensions installed locally are not being picked up by jupyter because of missing config path.
Setting `JUPYTER_CONFIG_PATH=/home/jovyan/.local/etc/jupyter` seems to fix it.

Here's the output of `jupyter --paths` after the fix

[code]

And here's a list of nbextensions after the fix (this includes some extensions coming from my app).

[code]

This seems like a bug in the Jup

[2022-11-22 21:02] unkcpz commented on #322
Hi @danielhollas, thanks for the very detail report. However, I can not reproduce the issue. I manage the start/stop container all by using `aiidalab-launch`. The container start always has the same ID. Are you also use aiidalab-launch for your case?
But I think the issue you report still exists and is crucial, I can image in the production deployment if the user starts their Jupyter entity which

[2022-11-22 21:07] danielhollas commented on #322
I don't think mounting /opt/conda is a good solution, we need to preserve what is pre-installed in the Aiidalab docker image. It would also added yet more complexity, we already have two volumes.

I'll do more tests, it's possible I was manually removing the container.

Why do you think installing to .local is bad? That's what has been happening up till now and worked.

[2022-11-22 21:47] unkcpz commented on #322
I didn't mean bad, just there were some unclear implementations to me. I didn't take a close look at
1) which folder will go first and where is the PATH priority set
2) how do the aiidalab AppStore version checks work.

When @csadorf was there, I was always lazy to figure out all details 🤣 I think now we have to start dig more and share his knowledge.

Probably, and I'll further test with the prod

[2022-11-22 22:15] danielhollas commented on #322
You can probably just prune the containers via docker before restarting via `aiidalab-launch`

[code]

I have already tested that packages installed in `.local/` take precedence.

The way pip currently works AFAIK is that in tries to do system-wide installation (`/opt/conda`) first, and if it doesn't have access it does user installation (`~/.local`). Because the `/opt/conda` is now writeable, we

[2022-11-22 22:16] danielhollas commented on #322
Can you elaborate on this? I'd think this should be independent of how the packages are installed, version checks are coming from `setup.cfg` no?

[2022-11-24 10:33] unkcpz opened #326 "Format error in requirement of app can maliciously break AppStore"
The version compatibility check will check the format of the dependencies text, and the unscathed exception raise and break the AppStore if the requirements parse fails. The problem raised with new QeApp since I put the `numpy~=1.23 # pined for pymatgen` where the `#` will be regard as invalid symbol. The appstore raise:

[code]

[2022-11-24 12:12] unkcpz commented on #322
Yes, that's correct.

[2022-11-25 09:39] #257 closed

[2022-11-28 15:12] #322 closed